/nbproject/
/src/cache/smarty/cache/
/src/cache/smarty/compile/
/src/libraries/vendor/
/src/logs/
/src/media/
/src/setup/
/src/-setup/
/src/configuration.php
/src/-configuration.php
/.php_cs.cache
/tmp/
/src/.htaccess
/src/off.htaccess
/src/cache/
/src/language/en_GB/LC_MESSAGES/