/localonly/
/nbproject/
/.vscode/
/src/cache/smarty/cache/
/src/cache/smarty/compile/
/src/libraries/vendor/
/src/logs/
/src/media/
/src/-setup/
/src/tmp/
/src/configuration.php
/src/-configuration.php
/.php_cs.cache
/src/.htaccess
/src/off.htaccess
/src/themail.log
src/language/en_GB/LC_MESSAGES/site.mo
src/language/en_GB/LC_MESSAGES/site.po

