div.sdmenu {
    width: 150px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding-bottom: 10px;
    background: url(../images/bottom.gif) no-repeat  right bottom;
    color: #fff;
}
div.sdmenu div {
    background: url(../images/sdmenu/toptitle.gif) repeat-x;
    overflow: hidden;
}
div.sdmenu div:first-child {
    background: url(../images/sdmenu/toptitle.gif) repeat-x;
}
div.sdmenu div.collapsed {
    height: 25px;
}
div.sdmenu div span {
    display: block;
    padding: 5px 25px;
    font-weight: bold;
    color: white;
    background: url(../images/sdmenu/expanded.gif) no-repeat 10px;
    cursor: default;
    border-bottom: 1px solid #ddd;
}
div.sdmenu div.collapsed span {
    background-image: url(../images/sdmenu/collapsed.gif);
}
div.sdmenu div a {
    padding: 5px 10px;
    background: #eee;
    display: block;
    border-bottom: 1px solid #ddd;
    color: #066;
}
div.sdmenu div a.current {
    background : #ccc;
}
div.sdmenu div a:hover {
    background : #b7b7b7 ;
    color: #fff;
    text-decoration: none;
}